/* --- ПОДВАЛ (FOOTER) --- */
footer {
    background: #000;
    border-top: 1px solid #1a1a1a;
    padding: 40px 0;
    margin-top: 50px;
    text-align: center;
    color: #444;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 12px;
}